<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 text-center">
                <h2 class="section-heading">异象使命</h2>
                <hr class="light">
                <p class="text-faded">渥太华国语宣道会的异象是要装备信徒成为基督的门徒, 致力在家庭, 学校, 社区, 工作场所和世界各地拓展神国事工:</p>
                <ul class="col-lg-10 col-lg-offset-1 text-left">
                    <li>帮助信徒 / 门徒与神建立亲密的关系,并且每天活出神的话语</li>
                    <li>培养信徒 / 门徒对教会的归属感, 并且委身其中 </li>
                    <li>装备信徒 / 门徒用福音及行动关怀其所属的社区与群体 </li>
                </ul>
                <!-- <a href="#" class="btn btn-default btn-xl">欢迎</a> -->
            </div>
        </div>
    </div>
</section>