<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">宣道会四重福音</h2>
                <hr class="light">
                <p class="text-faded">宣道会会徽的四个标志象徵著该会的「四重福音」教义，分别为：</p>
                <ul class="col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3 text-left">
                    <li>十字架︰基督是拯救之主 （Christ our Savior）</li>
                    <li>洗濯盆︰基督是我们成圣之主（Christ our Sanctifier）</li>
                    <li>油瓶　︰基督是医治之主（Christ our Healer）</li>
                    <li>冠冕　︰基督是再来之王（Christ our Coming King）</li>
                </ul>
                <!-- <a href="#" class="btn btn-default btn-xl">欢迎</a> -->
            </div>
        </div>
    </div>
</section>