<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">宣道教会</h2>
                <hr class="light">
                <p>宣道会由宣信博士（Dr. A. B. Simpson, 1843-1919）创立于1887年， 宣信于1887年在纽约组成基督徒联合会（the Christian Alliance）。两年之后，成立福音宣道联合会（the Evangelical Missionary Alliance），分别应付国内和海外的需要。1897年，两会合并成为基督教宣道会（Christian and Missionary Alliance，意即“信徒与宣教士齐心联盟”），在还没有教会的地方作宣扬基督教义的工作。
                    宣信成立宣道会背后的动力是他宣扬福音的心志。起初，宣道会并非是要成为一个教派，它只强调宗派间共同合作，推动海外宣教和生命进深的教导。正如宣信博士所愿，今天，宣道会肩负着“全球普传福音”运动的领导角色。                    
                    宣道会会徽的四个标志象征着该会的“四重福音”教义，分别为：
                </p>
                <ul class="col-lg-8 col-lg-offset-2 col-sm-6 col-sm-offset-3 text-left">
                    <li>十字架︰基督是拯救之主 （Christ our Savior）</li>
                    <li>洗濯盆︰基督是我们成圣之主（Christ our Sanctifier）</li>
                    <li>油瓶　︰基督是医治之主（Christ our Healer）</li>
                    <li>冠冕　︰基督是再来之王（Christ our Coming King）</li>
                </ul>
                <!-- <a href="#" class="btn btn-default btn-xl">欢迎</a> -->
            </div>
        </div>
    </div>
</section>