<section id="Christmas" style="padding: 0em;">
    <div>
        <div class="row">
			<div class="col-lg-12 text-center">
                <img src="img/news/Christmas.jpeg" class="img-responsive" style="width: 100%;" alt="Christmas"/>
                <hr>
                <div class="container">
                    <p class="text-left">今年是一个非常特别圣诞节！虽然病毒肆虐，恐惧蔓延，”封锁”和”隔离”成了2020年最常用的词彙，但因着”爱”，没有什么能叫我们与神的爱隔绝，没有什么能叫我们彼此隔绝。</p>
                    <p class="text-left">12月19日晚上7点渥太华国语宣道会邀请您一同參與『疫情下的真平安』聖誕晚會，盼望以温暖精典圣诞乐声、精彩原创短剧『逃离疫区』、『最后十四天』及圣经故事短讲分享，陪伴您和家人度过不一样的圣诞节。</p>
                    <p class="text-left">愿神祝福您在2021年有满满的平安和生命的喜悦，度过每一个值得珍惜的点滴小日子。</p>
                    <p class="text-left">报名连结: <a href="https://forms.gle/7Z8m7khKe1tB5wHq9"> https://forms.gle/7Z8m7khKe1tB5wHq9</a></p>
                    <hr>
                    <p class="text-left">注：<br>
                    1.前五名报名的朋友们可优先获得小礼物，即早报名者亦可参与抽奖环节。<br>
                    2. 聚会前请预先准备蜡烛及手电筒。</p>
                </div>
                <!-- <hr/> -->
             </div>
        </div>
    </div>
</section>
