<section id="christmas" style="padding: 0em;">
    <div>
        <div class="row">
			<div class="col-lg-12 text-center">
                <img src="img/christmas2021-2.png" class="img-responsive" style="width: 100%;" alt="Christmas"/>
                <hr>
                <div class="container">
                    <p class="text-left">今年圣诞节您计划如何度过呢? 您已习惯飞上云端与好友相会? 或渴望"实体"与人面对面交流?
                    12月18日晚上7点渥太华国语宣道会邀请您同来参与『圣诞--从此不再一样』圣诞晚会,
                    本次晚会将以现场、Youtube直播双轨同步进行，节目内容有精彩圣诞音乐、舞蹈、福音影片及短讲分享,盼望您和家人度过一个＂从此不再一样＂、有意义的圣诞节。</p>
                    <p class="text-left">报名连结: <a href="https://forms.gle/rXBCYrnYNXQkjzBC8">https://forms.gle/rXBCYrnYNXQkjzBC8</a></p>
                    <hr>
                    <p class="text-left">注：<br>
                        1. 由于本次圣诞晚会现场室内聚会人数限60~70人名额有限,敬请提早报名。新朋友和邀请者优先报名至12月12日截止,12/13-17开放弟兄姊妹报名。<br>
                        2. 依據渥太华公共卫生局(OPH)规定, 参与现场晚会必须完全接种两剂疫苗, 室内必须戴口罩并保持社交距离。<br>
                        3. 入场前请附疫苗証明並填写身体状况过筛表格。<br>
                    </p>
                </div>
                <!-- <hr/> -->
             </div>
        </div>
    </div>
</section>
