<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading text-primary">联系我们</h2>
                <hr class="primary">
                
            </div>
            
            <!--<div class="col-lg-2 col-lg-offset-1 text-center">-->
            <div class="col-md-6 col-lg-offset-1 text-center">
                <a href="https://goo.gl/maps/EZmRNKVcdqtJaFg59">
                    <i class="fa fa-home fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.address }}</p>
                </a>
            </div>

            <div class="col-md-6 col-lg-offset-1 text-center">
                <!-- <a href="weixin://dl/chat?{{ site.wechat }}"> -->
                <a href="callto:{{ site.wechat }}"></a>
                    <i class="fa fa-mobile fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.wechat }}</p>
                </a>
            </div>
            <div class="col-md-6 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>Mail to</p>
                </a>
            </div>
            <div class="col-md-6 col-lg-offset-1 text-center">
                <a href="https://www.facebook.com/groups/{{ site.facebookgroup }}">
                    <i class="fa fa-facebook fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.facebookgroup }}</p>
                </a>
            </div>
        	<div class="col-md-6 col-lg-offset-1 text-center">
                <a href="http://ottawamac.blogspot.com/">
                     <i class="fa fa-pencil-square-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>教会博客</p>
                </a>
            </div>
        </div>
    </div>
</section>
 <!--<a href="{{site.url}}/#page-top">
                     <i class="fa fa--arrow-circle-o-up:before fa-3x wow bounceIn" data-wow-delay=".1s"></i>
 </a> -->
<footer class="text-primary"><i class='fa fa-copyright'></i>2020 Ottawa Mandrain Alliance Church</footer>
