<section id="christmas" style="padding: 0em;">
    <div>
        <div class="row">
			<div class="col-lg-12 text-center">
                <div class="container">
				          <h3>参加教会实体崇拜</h3>
                    <p class="text-left">安省政府于７月１６日</p>
                    <p class="text-left"></p>

                    <!--<p class="text-left">报名连结: <a href="https://forms.gle/7Z8m7khKe1tB5wHq9"> https://forms.gle/7Z8m7khKe1tB5wHq9</a></p> -->
                </div>
             </div>
        </div>
    </div>
</section>
