<section id="livingwater"  class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary"><strong>活泼的生命读经计划</strong></h2>
                <!--<hr class="primary">-->
		        <hr style="border-top: 1px solid rgb(195, 195, 136)">
            </div>
            <table style="width:100%">
            <tr>
                <th colspan="4" class="text-center">七月</th>
            </tr>
            <tr>
                <th colspan="4" class="text-center">诗篇27-31章，哥林多后书1-13章</th>
            </tr>
            
            <tr>
                <td>1</td>
                <td>诗篇 27：1~14</td>
                <td>17</td>
                <td>哥林多后书 6:1~13(主日)</td>
            </tr>
            
            <tr>
                <td>2</td>
                <td>诗篇 28：1~9</td>
                <td>18</td>
                <td>哥林多后书 6:14~7:1</td>
            </tr>
            
            <tr>
                <td>3</td>
                <td>诗篇 29：1~11(主日)</td>
                <td>19</td>
                <td>哥林多后书 7:2~7</td>
            </tr>
            
            <tr>
                <td>4</td>
                <td>诗篇 30：1~12</td>
                <td>20</td>
                <td>哥林多后书 7:8~16</td>
            </tr>
            
            <tr>
                <td>5</td>
                <td>诗篇 31：1~8</td>
                <td>21</td>
                <td>哥林多后书 8:1~15</td>
            </tr>
			
            <tr>
                <td>6</td>
                <td>诗篇 31：9~24</td>
                <td>22</td>
                <td>哥林多后书 8:16~24</td>
            </tr>
            
            <tr>
                <td>7</td>
                <td>哥林多后书 1:1~11</td>
                <td>23</td>
                <td>哥林多后书 9:1~9</td>
            </tr>
            
            <tr>
                <td>8</td>
                <td>哥林多后书 1:12~22</td>
                <td>24</td>
                <td>哥林多后书 9:10~15(主日)</td>
            </tr>
            
            <tr>
                <td>9</td>
                <td>哥林多后书 1:23~2:11</td>
                <td>25</td>
                <td>哥林多后书 10:1~11</td>
            </tr>
            
            <tr>
                <td>10</td>
                <td>哥林多后书 2:12~17(主日)</td>
                <td>26</td>
                <td>哥林多后书 10:12~18</td>
            </tr>
            
            <tr>
                <td>11</td>
                <td>哥林多后书 3:1~11</td>
                <td>27</td>
                <td>哥林多后书 11:1~15</td>
            </tr>
            
            <tr>
                <td>12</td>
                <td>哥林多后书 3:12~18</td>
                <td>28</td>
                <td>哥林多后书 11:16~33</td>
            </tr>
            
            <tr>
                <td>13</td>
                <td>哥林多后书 4:1~12</td>
                <td>29</td>
                <td>哥林多后书 12:1~10</td>
            </tr>
            
            <tr>
                <td>14</td>
                <td>哥林多后书 4:13~18</td>
                <td>30</td>
                <td>哥林多后书 12:11~21</td>
            </tr>
            
            <tr>
                <td>15</td>
                <td>哥林多后书 5:1~10</td>
                <td>31</td>
                <td>哥林多后书 13:1~14（主日）</td>
            </tr>
            
            <tr>
                <td>16</td>
                <td>哥林多后书 5:11~21</td>
                <td></td>
                <td></td>
            </tr>
            </table>
        </div>
    </div>
</section>
