<section id="livingwater"  class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary"><strong>活泼的生命读经计划2023年</strong></h2>
                <!--<hr class="primary">-->
		        <hr style="border-top: 1px solid rgb(195, 195, 136)">
            </div>
            <table style="width:100%">
            <tr>
                <th colspan="4" class="text-center">一月</th>
            </tr>
            <tr>
                <th colspan="4" class="text-center">雅各书， 腓立比书，撒母耳记上１～５章</th>
            </tr>
            
            <tr>
                <td>1</td>
                <td>雅各书 1:1~11(主日)</td>
                <td>17</td>
                <td>腓立比书 3:10~21</td>
            </tr>
            
            <tr>
                <td>2</td>
                <td>雅各书 1:12~27</td>
                <td>18</td>
                <td>腓立比书 4:1~7</td>
            </tr>
            
            <tr>
                <td>3</td>
                <td>雅各书 2:1~13</td>
                <td>19</td>
                <td>腓立比书 4:8~13</td>
            </tr>
            
            <tr>
                <td>4</td>
                <td>雅各书 2:14~26</td>
                <td>20</td>
                <td>腓立比书 4:14~23</td>
            </tr>
            
            <tr>
                <td>5</td>
                <td>雅各书 3:1~16</td>
                <td>21</td>
                <td>撒母耳记上 1:1~8</td>
            </tr>
			
            <tr>
                <td>6</td>
                <td>雅各书 4:1~10</td>
                <td>22</td>
                <td>撒母耳记上 1:9~18(主日)</td>
            </tr>
            
            <tr>
                <td>7</td>
                <td>雅各书 4:11~17</td>
                <td>23</td>
                <td>撒母耳记上 1:19~28</td>
            </tr>
            
            <tr>
                <td>8</td>
                <td>雅各书 5:1~11(主日)</td>
                <td>24</td>
                <td>撒母耳记上 2:1~11</td>
            </tr>
            
            <tr>
                <td>9</td>
                <td>雅各书 5:12~20</td>
                <td>25</td>
                <td>撒母耳记上 2:12~21</td>
            </tr>
            
            <tr>
                <td>10</td>
                <td>腓立比书 1:1~11</td>
                <td>26</td>
                <td>撒母耳记上 2:22~36</td>
            </tr>
            
            <tr>
                <td>11</td>
                <td>腓立比书 1:12~21</td>
                <td>27</td>
                <td>撒母耳记上 3:1~14</td>
            </tr>
            
            <tr>
                <td>12</td>
                <td>腓立比书 1:22~30</td>
                <td>28</td>
                <td>撒母耳记上 3:15~21</td>
            </tr>
            
            <tr>
                <td>13</td>
                <td>腓立比书 2:1~11</td>
                <td>29</td>
                <td>撒母耳记上 4:1~11(主日)</td>
            </tr>
            
            <tr>
                <td>14</td>
                <td>腓立比书 2:12~18</td>
                <td>30</td>
                <td>撒母耳记上 4:12~22</td>
            </tr>
            
            <tr>
                <td>15</td>
                <td>腓立比书 2:19~30(主日)</td>
                <td>31</td>
                <td>撒母耳记上 5:1~12</td>
            </tr>
            
            <tr>
                <td>16</td>
                <td>腓立比书 3:1~9</td>
                <td></td>
                <td></td>
            </tr>
            </table>
        </div>
    </div>
</section>
