<section id="livingwater" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary"><strong>“活泼的生命”每日读经计划2025年</strong></h2>
                <hr style="border-top: 1px solid rgb(195, 195, 136)">
            </div>
            <table style="width:100%">
                <tr>
                    <th colspan="4" class="text-center">六月</th>
                </tr>
                <tr>
                    <th colspan="4" class="text-center">民数记 32–36 章, 诗篇 73–84 篇</th>
                </tr>

                <tr><td>1</td><td>民数记 32:1~15 (主日)</td><td>16</td><td>诗篇 75:1~10</td></tr>
                <tr><td>2</td><td>民数记 32:16~27</td><td>17</td><td>诗篇 76:1~12</td></tr>
                <tr><td>3</td><td>民数记 32:28~42</td><td>18</td><td>诗篇 77:1~9</td></tr>
                <tr><td>4</td><td>民数记 33:1~37</td><td>19</td><td>诗篇 77:10~20</td></tr>
                <tr><td>5</td><td>民数记 33:38~56</td><td>20</td><td>诗篇 78:1~8</td></tr>
                <tr><td>6</td><td>民数记 34:1~15</td><td>21</td><td>诗篇 78:9~31</td></tr>
                <tr><td>7</td><td>民数记 34:16~29</td><td>22</td><td>诗篇 78:32~39 (主日)</td></tr>
                <tr><td>8</td><td>民数记 35:1~8 (主日)</td><td>23</td><td>诗篇 78:40~55</td></tr>
                <tr><td>9</td><td>民数记 35:9~21</td><td>24</td><td>诗篇 78:56~72</td></tr>
                <tr><td>10</td><td>民数记 35:22~34</td><td>25</td><td>诗篇 79:1~13</td></tr>
                <tr><td>11</td><td>民数记 36:1~13</td><td>26</td><td>诗篇 80:1~19</td></tr>
                <tr><td>12</td><td>诗篇 73:1~14</td><td>27</td><td>诗篇 81:1~16</td></tr>
                <tr><td>13</td><td>诗篇 73:15~28</td><td>28</td><td>诗篇 82:1~8</td></tr>
                <tr><td>14</td><td>诗篇 74:1~11</td><td>29</td><td>诗篇 83:1~18 (主日)</td></tr>
                <tr><td>15</td><td>诗篇 74:12~23 (主日)</td><td>30</td><td>诗篇 84:1~12</td></tr>
            </table>
        </div>
    </div>
</section>
