<section id="events" style="padding: 2em;">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box text-left">
                    <h3 style="font-family: 'Ma Shan Zheng', cursive; font-style: normal"><strong>聚会时间</strong></h3>
                    <p>周日 10:30AM - 12:00AM 国语崇拜</p>
                    <p>周日 09:00AM - 10:00AM 主日课程</p>
                    <p>周二 11:45AM - 12:45PM 祷告聚会</p>
                    <p>周三 07:30PM - 09:00PM 祷告聚会</p>
                    <p>以上时间均为北美东部时间(EST)</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="service-box text-left">
                    <h3 style="font-family: 'Ma Shan Zheng', cursive; font-style: normal"><strong>行事历</strong></h3>
                    {% for event in site.data.calendar %}
                    <p>{{event.time}} - {{event.title}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
