<section class="no-padding" id="groups">
    <div class="container-fluid">
        <div class="row  no-gutter">
            {% for group in site.data.groups %}
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio-box">
                    <img src="{{ group.img }}" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                {{ group.name }}
                            </div>
                            <div class="project-category text-faded">
                                {{ group.en }}
                            </div>
                            <hr>
                            <div class="project-category text-faded">
                                {{ group.description }}
                            </div>
                            <a href="mailto:{{ group.email }}" style="text-transform: lowercase;">联系电邮：{{group.en}}@omac.com</a>
                            {% if {{group.link}} %}
                            <br>
                            <a href="{{group.link}}">脸书 (Facebook)</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
