<header>
    <div class="header-content">
        <div class="header-content-inner">
            <hr>
            <img src="img/omac.svg" style="max-height: 256px;">
            <hr>
            <h1>渥太华国语宣道会</h1>
            <hr>
            <p>凡劳苦担重担的人，可以到我这来，我就使你们得安息。<br>马太福音 11：28</p>
            <!-- <a href="#about" class="btn btn-primary btn-xl page-scroll">欢迎</a> -->
            <a class="button" href="https://www.youtube.com/c/OmacWorship">  Youtube  </a>
            <a class="button" href="#contact">  教会地址  </a>
        </div>
    </div>
</header>
