<section id="infomation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary">教会年刊</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-12 text-center">
                <table class="col-lg-12">
                    <col width=40%>
                    <col width=40%>
                    <tr>
                        <td><a href="https://drive.google.com/file/d/1kRLnWTKD3Dc5qP-8ps6k5PiLNSfGqg-m/view">2019 年教会年刊 (2019 Annual Report)</a></td>
                        <td><a href="http://nebula.wsimg.com/fc2f80dcf80cbdfac24f12e8ff20d691?AccessKeyId=54438F4C0D0B2B4F2A9C&disposition=0&alloworigin=1">2018 年教会年刊 (2018 Annual Report)</a></td>
                    </tr>
                </table>
            </div>
            
        </div>
        
    </div>
</section>