<section id="infomation">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary">网上奉献</h2>
                <hr class="primary">
            </div>
			<div class="col-lg-12 text-center">
                    <tr>
                        <p style="font-size: 18px;">渥太华国语宣道会持守宣道会的属灵传统。不懈地追求以耶稣基督为中心的灵命进深,竭力推进以福音为唯一目标的普世宣教。不论您在世界什么地方,我们都渴望与您一起高举耶稣基督，把福音传到地极。如果您已经以祷告,奉献，等途径支持渥太华国语宣道，我们衷心的感谢您。 如果您愿意加入支持我们的行列,我们热诚欢迎您。
国宣的电子转帐(e-Transfer)帐户: omac.treasurer@gmail.com 无需设立密码。请指明奉献类别，常费,　差传,　建堂,　慈惠或其它。请写明您的英文姓名（用于抵税收据）。</td>     
                    </p>
                    <hr/>
             </div>
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary">教会年刊</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-12 text-center divScroll">
                <table class="col-lg-12">
                    <col width=40%>
                    <col width=40%>
                    <tr>
                        <td><a href="https://drive.google.com/file/d/1kRLnWTKD3Dc5qP-8ps6k5PiLNSfGqg-m/view">2019 年教会年刊 (2019 Annual Report)</a></td>
                        <td><a href="https://drive.google.com/file/d/1tUPnKTaxFq4Hu33fENFb3GlanPhoHlMz/view">2018 年教会年刊 (2018 Annual Report)</a></td>
                    
                    </tr>
                    <tr>
                        <td><a href="https://drive.google.com/file/d/1sxSNR3IsyVNHSuPrBE3DafC2wJ_jNJsP/view">2017 年教会年刊 (2017 Annual Report)</a></td>
                        <td><a href="https://drive.google.com/file/d/15ZaLjZxieY0EVeGjOUUGY1OwjUSph6mM/view">2016 年教会年刊 (2016 Annual Report)</a></td>
                    
                    </tr>
                    <tr>
                        <td><a href="https://drive.google.com/file/d/1vKmQbMWjRI2chlPwA-Fh1EPySjECtBkY/view?usp=sharing">2015 年教会年刊 (2015 Annual Report)</a></td>
                        <td><a href="https://drive.google.com/file/d/0B4-x16Tjtyqwb1lVMnhveE0xbDg/view?usp=sharing">2014 年教会年刊 (2014 Annual Report)</a></td>
                    
                    </tr>
                    <tr>
                        <td><a href="https://drive.google.com/file/d/0B4-x16TjtyqwVWt0cE16b2RVcm8/view?usp=sharing">2013 年教会年刊 (2013 Annual Report)</a></td>
                        <td><a href="https://drive.google.com/file/d/0B4-x16TjtyqwLW5kVElKdHhPUUk/view?usp=sharing">2012 年教会年刊 (2012 Annual Report)</a></td>
                    
                    </tr>
                    <tr>
                        <td><a href="https://drive.google.com/file/d/0B4-x16TjtyqwTGp2aGhsU0N1RzQ/view?usp=sharing">2011 年教会年刊 (2011 Annual Report)</a></td>
                        <td><a href="https://drive.google.com/file/d/0B4-x16TjtyqwcU9fNGZFVVFjdTA/view?usp=sharing">2010 年教会年刊 (2010 Annual Report)</a></td>
                    
                    </tr>
                    <tr>
                        <td><a href="https://drive.google.com/file/d/0B4-x16TjtyqwM1RSbWo2dXQyc0E/view?usp=sharing">2009 年教会年刊 (2009 Annual Report)</a></td>
                        <td><a href="https://drive.google.com/file/d/0B4-x16TjtyqweE82ajFGUXhoZHM/view?usp=sharing">2008 年教会年刊 (2008 Annual Report)</a></td>
                    
                    </tr>
                    <tr>
                        <td><a href="https://drive.google.com/file/d/1cb--fWF-nBqTbykn46aQ1eQ-5-RWn8hG/view?usp=sharing">2007 年教会年刊 (2007 Annual Report)</a></td>
                        <td><a href="https://drive.google.com/file/d/0B4-x16TjtyqwMjl6LW84bDZMc3M/view?usp=sharing">2006 年教会年刊 (2006 Annual Report)</a></td>
                    
                    </tr>
                    <tr>
                        <td><a href="https://drive.google.com/file/d/0B4-x16TjtyqwZW5uVlhlYXBIaVk/view?usp=sharing">2005 年教会年刊 (2005 Annual Report)</a></td>
                        <td><a href="https://drive.google.com/file/d/0B4-x16TjtyqwUDB0UzlHclFIdVU/view?usp=sharing">2004 年教会年刊 (2004 Annual Report)</a></td>
                    
                    </tr>
                    <tr>
                        <td><a href="https://drive.google.com/file/d/0B4-x16TjtyqwZHVRZTlxaXNOQ0U/view?usp=sharing">2003 年教会年刊 (2003 Annual Report)</a></td>
                        <td><a href="https://drive.google.com/file/d/0B4-x16TjtyqwOC1FdklVeWhPSnM/view?usp=sharing">2002 年教会年刊 (2002 Annual Report)</a></td>
                    
                    </tr>
                    <tr>
                        <td><a href="">2001 年教会年刊 (2001 Annual Report)</a></td>
                        <td></td>
                    </tr>
                </table>
            </div>
            
        </div>
        
    </div>
</section>
