<section id="retreat" class="bg-info" style="padding: 0em;">
    <div>
        <div class="row">
			<div class="col-lg-12 text-center">
                <div class="container">
				    <h3>2021年夏天退修会</h3>
                    <p class="text-left">教会2021年夏天退修会开始报名。具体说明如下：</p>
                    <p class="text-left">报名时间： 7月18日 - 8月11日</p>
                    <p class="text-left">报名方式：线上: <a href="https://forms.gle/khHXfwERxnL6MgrJ9">https://forms.gle/khHXfwERxnL6MgrJ9</a></p>    
                    <p class="text-left">退修会节目细节见《退修会手册》。</p>
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 text-left">
                            <p class="text-left">报名注意事项：</p>
                            <p class="text-left">1） 这次是双轨，教会和线上。你需要选其一。</p>
                            <p class="text-left">2） 有英文青少年节目，但由于难于保持小孩之间的两米距离，没有小孩节目。</p>
                            <p class="text-left">3） 欢迎大家来教会参加，但建议没有接种疫苗的人参加线上聚会。</p>
                            <p class="text-left">4） 来教会的人，我们会提供付费的早餐（6.5加元）和午餐（12加元），共三餐：礼拜六的早餐和午餐，以及礼拜天的早餐。有专人预备，一人一份，简便安全，避免传递。 
                                付费方式：e-Transfer， OMAC.treasurer@gmail.com Please put note:” Retreat Meal”</p>
                            <p class="text-left">5） 礼拜天的活动, 早晨灵修和午间崇拜，仍然在教会，也会线上播放。但之后的洗礼将在户外举行，地点在Petrie Island Beach, Orleans，由于网络限制，洗礼不在线上播放。所以，邀请所有人，不管是在教会的还是在线上的都去这儿见证洗礼。另外，建议大家自带一些简单的食物，在洗礼结束后，多留一些时间，享受很久没有的面对面团契。</p>
                            <p class="text-left">如有任何问题，请与<a href="mailto:dengkez@yahoo.com">周登科联系</a></p> 
                            <p class="text-left">Please contact <a href="mailto:koyungliu@yahoo.ca">Elder Ko-Yung Liu</a> if you have question about English Youth Retreat</p>
                            <p class="text-left">如对线上报名有问题，请联系<a href="mailto:chucheng.shen@gmail.com">沈储澄执事</a></p>  
                        </div>
                        <div class="col-lg-6 text-center" style="margin-bottom: 1em;">
                        <img src="img/RetreatSchedule.png" style="height: 100%;width: auto;">
                        </div>
                    </div>
                     
                    <!--<p class="text-left">报名连结: <a href="https://forms.gle/7Z8m7khKe1tB5wHq9"> https://forms.gle/7Z8m7khKe1tB5wHq9</a></p> -->
                </div>
             </div>
        </div>
    </div>
</section>
