<section id="spring" class="bg-danger" style="padding: 0em;">
    <div>
        <div class="row">
			<div class="col-lg-12 text-center">
                <img src="img/2022SpringPoster.gif" class="img-responsive" style="width: 100%;" alt="Spring"/>
                <hr>
                <div class="container">
                    <p>线上晚会: <a href="https://zoom.us/j/6132367656">Zoom ID: 613-236-7656</a></p>
                    <p><a href="https://forms.gle/43RAjqSS979rDLRP7">点击报名</a></p>
                    <hr>
                </div>
                <!-- <hr/> -->
             </div>
        </div>
    </div>
</section>
