<header id="study">
    <div class="header-content">
        <div class="header-content-inner">
            <h2 class="section-heading">灵命进深</h2>
            <div class="row">
                {% for session in site.data.study %}
                <div class="col-lg-4 col-md-4 text-center">
                    <div class="service-box">
                        <!-- <i class="fa fa-4x fa-{{service.icon}} wow bounceIn text-primary"></i> -->
                        <h3>{{session.title}}</h3>
                        <ul>
                            {% for lecture in session.lectures %}
                            <li style="list-style-type: none;"> <a class="text-faded" href="{{lecture.link}}">{{lecture.title}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</header>