<section id="sundayschool">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading filtered"><strong>2021年第4季 (10~12月))  中文成人主日学</strong></h2>
                <h4>上课时间： 10月3日~12月12日, 每主日上午 9~10奌</h4>
                <hr class="primary">
                <p>OMAC 2021 第4季主日学<a href="https://forms.gle/k3bvwziQidiE1zfy9">报名表</a></p>  
            </div>
        </div>
    </div>
    <div class="container">
        <div class="Row">
            {% for notification in site.data.sundayschool %}
            <div class="col-lg-8 col-md-8 col-md-offset-2 text-center">
                <h3>{{notification.title}}</h3>
                <h5 class="text-faded">{{notification.teacher}}</h6>
                <h5 class="text-faded">{{notification.room}}</h5>
                <pre>{{notification.content}}</pre>
                <p>{{notification.applicable}}</p>
                <!-- {% if notification.image %}
                    <img src="{{notification.image}}" class="img-responsive filtered rounded-lg"
                    alt="notification">
                {% endif %} -->
            </div>
            {% endfor %}
          
        </div>
    </div>
</section>
