<section id="sundayschool">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading filtered"><strong>2020年第4季 (10~12月)  中文成人主日学</strong></h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="Row">
            {% for notification in site.data.sundayschool %}
            <div class="col-lg-8 col-md-8 col-md-offset-2 text-center">
                <h3>{{notification.title}}</h3>
                <h5 class="text-faded">{{notification.teacher}}</h6>
                <h5 class="text-faded">{{notification.room}}</h5>
                <p>{{notification.content}}</p>
                <!-- {% if notification.image %}
                    <img src="{{notification.image}}" class="img-responsive filtered rounded-lg"
                    alt="notification">
                {% endif %} -->
            </div>
            {% endfor %}
        </div>
    </div>
</section>
