<section id="tithing"  class="bg-primary">
    <div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary">什一奉献</h2>
                <hr class="primary">
            </div>
			<div class="col-lg-12 text-center">
                <img src="img/Offering.jpg" class="img-responsive" style="vertical-align:middle" alt="Giving and Tithing"/>
                <hr>
                <div class="container">
                    <p class="text-left">  渥太华国语宣道会持守宣道会的属灵传统。不懈地追求以耶稣基督为中心的灵命进深,竭力推进以福音为唯一目标的普世宣教。不论您在世界什么地方,我们都渴望与您一起高举耶稣基督，把福音传到地极。如果您已经以祷告,奉献，等途径支持渥太华国语宣道，我们衷心的感谢您。 如果您愿意加入支持我们的行列,我们热诚欢迎您。</p>
                    <p class="text-left">国宣的电子转帐(e-Transfer)帐户: omac.treasurer@gmail.com </p>
                    <p class="text-left">无需设立密码。请指明奉献类别，常费,　差传,　建堂,　慈惠或其它。请写明您的英文姓名（用于抵税收据）。
                    </p>
                </div>
                <!-- <hr/> -->
             </div>
        </div>
    </div>
</section>
