<section id="oufellowship">
    <div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-primary"><strong>渥太华大学国语基督徒团契</strong></h2>
                <hr class="primary">
            </div>
			<div class="col-lg-12 text-center">
                <img src="img/UOFellowship.png" class="img-responsive" style="width: 100%;" alt="Christmas"/>
                <hr>
                <div class="container">
                    <p class="text-left">渥太华大学国语基督徒团契（Mandarin Christian Fellowship）隶属于 Ottawa Mandarin Alliance Church。团契致力于为不同背景的学生提供属灵的家，通过每周聚会一起用餐、敬拜和查经，建立友谊，认识信仰，在彼此陪伴中成长。 </p> 
                    <div class="col-lg-12 text-center">
                        <a href="https://sites.google.com/view/mandarinchristianfellowship">
                            <p>详情请点击</p>
                        </a>
                    </div>
                </div>
                <!-- <hr/> -->
             </div>
        </div>
    </div>
</section>
