<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include carousel.html height="100" unit="%" duration="10" %}
  {% include ExerciseMission.html %}
  {% include alliance.html %}
  {% include services.html %}
  {% include dailylivingwater.html %}
  {% include events.html %}
  {% include tithing.html %}
  {% include information.html %}
  {% include groups.html %}
  {% include sundayschool.html %}
  {% include study.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>
